#wrap{
    width: 100%;
}
header,section,footer{
    width: 100%;
    float: left;
}
    

#top_btn{
    width: 40px;
    height: 40px;
    /*font: 16px/35px '';*/
    font-size: 16px;
    line-height: 35px;
    text-align: center;
    color: azure;
    background-color: rgba(255,130,0,0.7);
    
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 50;
}


/**/

/**/

@media all and (min-width:1200px){
    
    /**/
    #sec3_top_text_box_wrap:hover .sec2_box_hover{
        background-color: #faa013;
        transition-duration: 0.5s;
    }
    #sec3_top_text_box_wrap:hover #sec3_top_btn{
        background-color: #faa013;
        transition-duration: 0.5s;
        border: 1px solid #faa013;
    }
    #sec3_top_text_box_wrap:hover #sec3_top_btn>p{
        color: whitesmoke;
        transition-duration: 0.5s;
    }

    #sec3_bottom_text_box_wrap:hover .sec2_box_hover{
        background-color: #f34703;
        transition-duration: 0.5s;
    }
    #sec3_bottom_text_box_wrap:hover #sec3_bottom_btn{
        background-color: #f34703;
        transition-duration: 0.5s;
        border: 1px solid #f34703;
    }
    #sec3_bottom_text_box_wrap:hover #sec3_bottom_btn>p{
        color: whitesmoke;
        transition-duration: 0.5s;
    }
    /*#sec3_bottom_text_box_wrap:hover #sec3_bottom_text_wrap>h4{
        color:#f34703;
        transition-duration: 0.5s;
    }*/
    /**/
    /**/
    .sec4_btn:hover{
        background-color: rgba(255,255,255,0.8);
        transition-duration: 0.5s;
        border: 1px solid rgba(255,255,255,0.8);
    }
    .sec4_btn:hover p{
        color: #414141;
        transition-duration: 0.5s;
    }
    /**/
    
    /********공통영역***************/
    .container{
        width: 1200px;
        margin: 0 auto;
        /*background-color: burlywood;*/
    }
    .title{
        width: 100%;
        height: 50px;
        margin: 150px auto 60px auto;
        /*background-color: skyblue;*/
    }
    .title>h3{
        /*font: 900 40px/45px '';*/
        font-size: 40px;
        line-height: 45px;
        text-align: 900;
        text-align: center;
        color: #333232;
    }
    
    #title_4>h3{
        color: #ebebeb;
    }
    
    
    /***************************/
    
    
    
    /*header 시작*/
    
    #note_menu_wrap{
        display: none;
    }
    
    header{
        height: 60px;
        background-color: white;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        /*overflow: hidden;*/
        
        border-bottom: 1px solid #dfdede;
        box-sizing: border-box;
    }
    #in_header{
        width: 100%;
        height: 40px;
        margin: 0 auto;
        /*background-color: aquamarine;*/
        margin-top: 15px;
        position: relative;
    }
    #logo{
        width: 130px;
        height: 100%;
        /*background-color: red;*/
        float: left;
        position: absolute;
        top: 0;
        left: 15px;
    }
    
    #menu_wrap{
        width: 740px;
        height: 100%;
        /*background-color: deepskyblue;*/
        margin: 0 auto;
    }
    #menu_wrap>li{
        width: 16.666%;
        height: 100%;
        /*background-color: aqua;*/
        float: left;
        /*border: 1px solid black;
        box-sizing: border-box;*/
    }
    #menu_btn_wrap{
        display: none;
    }
    
    /*pc_sub_menu_wrap*/
    #pc_sub_menu_wrap{
        width: 100%;
        height: 0;
        background-color: white;
        
        position: absolute;
        top: 45px;
        left: 0;
        transition-duration: 0.5s;
        z-index: 99;
        overflow: hidden;
    }
    #pc_sub_in_menu{
        width: 740px;
        height: 90%;
        /*background-color: bisque;*/
        margin: 5px auto;
    }
    .pc_sub_menu{
        width: 16.666%;
        height: 100%;
        /*background-color: lightblue;*/
        float: left;
    }
    .sub_menu{
        /*font: 100 15px/40px '';*/
        font-size: 15px;
        line-height: 40px;
        text-align: 100;
        text-align: center;
        
    }
    #pc_sub_menu_wrap .sub_menu:hover a{
        color: #ec6941;
    }
    
    #menu_wrap:hover>#pc_sub_menu_wrap{
        display: block;
        height: 250px;
    }
    
    /*이미지,텍스트 추가*/
    #logo>img{
        width: 100%;
        height: auto;
    }
    
    #menu_wrap>li{
        text-align: center;
        line-height: 40px;
    }
    
    #menu_wrap>li a{
        color: gray;
    }
    .pc_sub_menu a{
        color: #a9a9a9;
        font-weight: 100;
    }
    
    /******************/
    
    
    /*header 끝*/
    
    
    /*section_1 시작*/
    
    #section_1{
        height: 900px;
        /*background-color: thistle;*/
        background: url(../img/banner.png) no-repeat center;
        background-size: cover;
        position: relative;
    }
    
    /*#box1_wrap 시작*/
    
    #box1_wrap{
        width: 600px;
        height: 480px;
        /*background-color: aquamarine;*/
        margin: 220px 0 0 170px;
        position: relative;
    }
    
    .sec1_box{
        position: absolute;
        background-color: #b2b2b2;
    }
    #box1_1{
        width: 0;
        height: 15px;
        top: 0;
        left: 0;
        
    }
    #box1_2{
        width: 15px;
        height: 0;
        bottom: 0;
        left: 0;
        
    }
    
    #box1_3{
        width: 15px;
        height: 0;
        top: 0;
        right: 0;
        
    }
    #box1_4{
        width: 0;
        height: 15px;
        bottom: 0;
        right: 0;
    }
    
    /*banner_text_wrap 시작*/
    
    #banner_text_wrap{
        width: 1100px;
        height: 100%;
        /*background-color: brown;*/
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -550px;
        
        opacity: 0;/**/
    }
    
    
    /*이미지,텍스트 추가*/
    
    #main_text>h1{
        /*font: 500 80px '';*/
        font-size: 80px;
        text-align: 500;
        text-align: center;
        margin-top: 380px;
        color: #dcdbdb;
    }
    span:first-child{
        font-weight: 600;
        color: #efefef;
    }
    span:last-child{
        font-weight: 600;
        color: #f3721f;
    }
    #sub_text>h3{
        /*font: 500 25px '';*/
        font-size: 25px;
        text-align: 500;
        text-align: center;
        margin-top: 10px;
        color: #b2b2b2;
    }
    
    
    
    
    /******************/
    
    
    /*이벤트*/
    
    
    
    
    /********************/
    
    
    /*section_1 끝*/
    
    
    /*section_2 시작*/
    
    #section_2{
        height: 2080px;
        /*background-color: orange;*/
        overflow: hidden;
    }
    
    #sec2_text{
        width: 100%;
        height: auto;
        margin-bottom: 50px;

    }
    
    /*sec2_con2_wrap 시작*/
    #sec2_con2_wrap{
        width: 100%;
        height: 1530px;
        /*background-color: coral;*/
        position: relative;
        
        top: 100px;
        opacity: 0;
    }
    
    
    /*con2_1*/
    #con2_1{
        width: 440px;
        height: 250px;
        /*background-color: aquamarine;*/
        position: absolute;
        
        top: 45px; /**/
        
        left: 0;
        
        
    }
    
    /*con2_2*/
    #con2_2{
        width: 745px;
        height: 500px;
        /*background-color: aqua;*/
        position: absolute;
        
        top: 0;/**/
        right: 0;
        
    }
    #con2_img2{
        width: 420px;
        height: 100%;
        float: left;
        
    }
    #sec2_top_text2_right{
        width: 320px;
        height: 500px;
        float: left;
        /*background-color: brown;*/
        position: absolute;
        top: 0;
        right: 0;
        
    }
    #con2_text2{
        width: 420px;
        height: 100%;
        float: right;
        /*background-color: crimson;*/
        
    }
    
    /*con2_3*/
    #con2_3{
        width: 360px;
        height: 370px;
        /*background-color: aqua;*/
        position: absolute;
        
        top: 310px;/**/
        left: 80px;
    }
    
    /*con2_4*/
    #con2_4{
        width: 330px;
        height: 165px;
        /*background-color: aqua;*/
        position: absolute;
        
        top: 515px; /**/
        left: 455px;
    }
    
    /*con2_5*/
    #con2_5{
        width: 785px;
        height: 260px;
        /*background-color: aqua;*/
        position: absolute;
        
        top: 695px;/**/
        left: 0;
    }
    #con2_text5{
        width: 335px;
        height: 100%;
        /*background-color: firebrick;*/
        float: left;
    }
    #con2_img5{
        width: 450px;
        height: 260px;
        /*background-color: darkkhaki;*/
        float: right;
    }
    
    /*con2_6*/
    #con2_6{
        width: 400px;
        height: 600px;
        /*background-color: aqua;*/
        position: absolute;
        
        top: 515px;/**/
        right: 0;
    }
    #con2_img6{
        width: 400px;
        height: 410px;
        /*background-color: cornflowerblue;*/
    }
    #con2_text6{
        width: 100%;
        height: 200px;
        /*background-color: crimson;*/
    }
    
    /*con2_7*/
    #con2_7{
        width: 430px;
        height: 500px;
        /*background-color: aqua;*/
        position: absolute;
        
        top: 970px;/**/
        left: 0;
    }
    
    /*con2_8*/
    #con2_8{
        width: 345px;
        height: 560px;
        /*background-color: aqua;*/
        position: absolute;
        
        bottom: 0; /**/
        left: 445px;
    }
    #con2_img8{
        width: 345px;
        height: 370px;
        /*background-color: chocolate;*/
    }
    #con2_text8{
        width: 345px;
        height: 190px;
        /*background-color: firebrick;*/
    }
    
    /*이미지,텍스트 추가*/
    #sec2_text>h5{
        /*font: 600 18px '';*/
        font-size: 18px;
        text-align: 600;
        text-align: center;
        color: #7e7e7e;
        
    }
    .con2_img>img{
        width: 100%;
        height: 100%;
        transform: scale(1);
    }
    
    #con2_7 img{
        margin-top: 30px;
    }
    
    /**/
    
    .sec2_top_text{
        font-size: 30px;
        color: #404040;
        margin: 80px 0 15px 30px;
        
    }
    .sec2_top_text_6_8{
        margin-top: 30px;
    }
    .sec2_bottom_text{
        /*font: 100 18px '';*/
        font-size: 18px;
        text-align: 100;
        color: #8f8e8e;
        margin-left: 30px;
        
    }
    
    #sec2_top_text5_right{
        text-align: right;
        
    }
    #sec2_top_text5_right h4{
        margin: 30px 30px 15px 0;
        
    }
    #sec2_top_text5_right p{
        margin: 0 30px 0 0;
    }
    
    .box2{
        width: 100px;
        height: 2px;
        background-color: #ec6941;
        
    }
    #box2_2{
        /*margin-top: 50px;*/
        position: relative;
        top: -450px;
        left: 40px;
    }
    
    #box2_5{
        margin-top: 20px;
        position: relative;
        left: 285px;
    }
    #box2_6{
        transform: rotate(90deg);
        position: relative;
        top: 10px;
        left: -30px;
    }
    #box2_8{
        transform: rotate(90deg);
        position: relative;
        top: 10px;
        left: -30px; 
    }
    
    /*****************/
    
    /*hover 이벤트*/
    .con2_hover_text{
        width: 100%;
        height: 100%;
        /*background-color: aquamarine;*/
        position: absolute;
        top: 0;
        left: 0;
        
        opacity: 0;
    }
    #con2_hover_text5{
        width: 450px;
        left: 335px;
        
    }
    #con2_hover_text6{
        height: 410px;
        
    }
    
    #con2_hover_text8{
        height: 370px;
    }
    #con2_text2{
        width:420px;
    }
    .con2_hover_text>h5{
        font-size: 20px;
        color: #efefef;
        margin-left: 30px;
    }
    .con2_hover_text>p{
        font-size: 15px;
        color: #cecece;
        margin-left: 30px;
        margin-top: 10px;
    }
    
    #con2_hover_text1>h5{
        margin-top: 130px;
    }
    #con2_text2>h5{
        margin-top: 375px;
    }
    #con2_hover_text3>h5{
        margin-top: 220px;
    }
    #con2_hover_text4>h5{
        margin-top: 40px;
    }
    #con2_hover_text5>h5{
        margin-top: 120px;
    }
    #con2_hover_text6>h5{
        margin-top: 280px;
    }
    #con2_hover_text7>h5{
        margin-top: 370px;
    }
    #con2_hover_text8>h5{
        margin-top: 240px;
    }
    .con2_hover:hover .con2_hover_text{
        opacity: 1;
        background-color: rgba(0,0,0,0.7);
        transition-duration: 0.5s;
    }
    .con2_hover:hover .con2_img>img{
        transform: scale(1.2);
        transition-duration: 0.5s;
    }
    .con2_img{
        overflow: hidden;
    }
    
    
    /*#section_2:hover #sec2_con2_wrap{
        top: 0;
        transition-duration: 0.5s;
        opacity: 1;
    }*/
    
    /***************/
    
    /*section_2 끝*/
    
    /*section_3 시작*/
    
    #section_3{
        height: 2000px;
        /*background-color: aquamarine;*/
        
        overflow: hidden;
    }
    
    
    /*#sec3_top_con3_wrap*/
    #sec3_top_con3_wrap{
        width: 1200px;
        height: 750px;
        /*background-color:blueviolet;*/
        margin: 0 auto;
        
        position: relative;
    }
    #sec3_top_img{
        width: 550px;
        height: 650px;
        /*background-color: aqua;*/
        float: right;
        
        margin-right: -200px;/**/
        opacity: 0;
    }
    #sec3_top_text_box_wrap{
        width: 600px;
        height: auto;
        /*background-color: yellow;*/
        float: left;
        position: absolute;
        top: 220px;
        left: 140px;
    }
    
    
    /**/
    /*#sec3_top_text_box_wrap:hover .sec2_box_hover{
        background-color: #faa013;
        transition-duration: 0.5s;
    }
    #sec3_top_text_box_wrap:hover #sec3_top_btn{
        background-color: #faa013;
        transition-duration: 0.5s;
        border: 1px solid #faa013;
    }
    #sec3_top_text_box_wrap:hover #sec3_top_btn>p{
        color: whitesmoke;
        transition-duration: 0.5s;
    }*/
    /**/
    
    
    
    #sec3_top_box1{
        width: 600px;
        height: 15px;
        background-color: #717171;
        opacity: 0.7;
        /*border: 1px solid black;
        box-sizing: border-box;*/
    }
    #sec3_top_2_3wrap{
        width: 100%;
        height: auto;
        /*background-color: tan;*/
    }
    #sec3_top_box2{
        width: 15px;
        height: 360px;
        background-color: #717171;
        opacity: 0.7;
        /*border: 1px solid black;
        box-sizing: border-box;*/
        float: left;
    }
    #sec3_top_box3{
        width: 15px;
        height: 100px;
        background-color: #717171;
        opacity: 0.7;
        /*border: 1px solid black;
        box-sizing: border-box;*/
        float: right;
    }
    #sec3_top_box4{
        width: 600px;
        height: 15px;
        background-color: #717171;
        opacity: 0.7;
        /*border: 1px solid black;
        box-sizing: border-box;*/
        float: left;
    }
    
    
    /*#sec3_bottom_con3_wrap*/
    #sec3_bottom_con3_wrap{
        width: 1200px;
        height:750px;
        /*background-color:blueviolet;*/
        margin: 80px auto 0 auto;
        position: relative;
    }
    #sec3_bottom_img{
        width: 550px;
        height: 650px;
        /*background-color: aqua;*/
        float: left;
        
        margin-left: -300px;/**/
        opacity: 0;
    }
    #sec3_bottom_text_box_wrap{
        width: 600px;
        height: auto;
        /*background-color: yellow;*/
        float: left;
        position: absolute;
        top: 220px;
        right: 140px;
    }
    
    
    /**/
    /*#sec3_bottom_text_box_wrap:hover .sec2_box_hover{
        background-color: #f34703;
        transition-duration: 0.5s;
    }
    #sec3_bottom_text_box_wrap:hover #sec3_bottom_btn{
        background-color: #f34703;
        transition-duration: 0.5s;
        border: 1px solid #f34703;
    }
    #sec3_bottom_text_box_wrap:hover #sec3_bottom_btn>p{
        color: whitesmoke;
        transition-duration: 0.5s;
    }*/
    
    /**/
    
    
    #sec3_bottom_box1{
        width: 600px;
        height: 15px;
        background-color: #717171;
        opacity: 0.7;
        /*border: 1px solid black;
        box-sizing: border-box;*/
    }
    #sec3_bottom_bottom_2_3wrap{
        width: 100%;
        height: auto;
        /*background-color: tan;*/
    }
    #sec3_bottom_box2{
        width: 15px;
        height: 360px;
        background-color: #717171;
        opacity: 0.7;
        /*border: 1px solid black;
        box-sizing: border-box;*/
        float: right;
    }
    #sec3_bottom_box3{
        width: 15px;
        height: 100px;
        background-color: #717171;
        opacity: 0.7;
        /*border: 1px solid black;
        box-sizing: border-box;*/
        float: left;
    }
    #sec3_bottom_box4{
        width: 600px;
        height: 15px;
        background-color: #717171;
        opacity: 0.7;
        /*border: 1px solid black;
        box-sizing: border-box;*/
        float: right;
    }
    
    /*이미지,텍스트 추가*/
    
    /*이미지*/
    #sec3_top{
        background: url(../img/sec3_top.png) no-repeat right;
        background-size: cover;
    }
    #sec3_top_img{
        background: url(../img/sec3_1.jpg) no-repeat center;
        background-size: cover;
    }
    
    
    #sec3_bottom{
        background: url(../img/sec3_bottom.png) no-repeat left;
        background-size: cover;
    }
    #sec3_bottom_img{
        background: url(../img/sec3_2.jpg) no-repeat center;
        background-size: cover;
    }
    
    /*텍스트*/
    #sec3_top_text_wrap>h4{
        /*font: 700 30px/50px '';*/
        font-size: 30px;
        line-height: 50px;
        text-align: 700;
        text-align: right;
        margin: 60px 120px 0 0;
        color: #828282;
        
        opacity: 0;/**/
    }
    #sec3_top_text_wrap>h5{
        /*font: 900 35px/40px '';*/
        font-size: 35px;
        line-height: 40px;
        text-align: 900;
        text-align: right;
        margin: 30px 120px 0 0;
        color: #191919;
        
        opacity: 0;/**/
    }
    #sec3_top_btn{
        width: 200px;
        height: 50px;
        border: 1px solid #707070;
        margin-left: 275px;
        margin-top: 40px;
        
        opacity: 0;/**/
    }
    .sec3_btn>p{
        /*font: 17px/50px '';*/
        font-size: 17px;
        line-height: 50px;
        text-align: center;
        color: #707070;
    }
    
    /**/
    
    #sec3_bottom_text_wrap>h4{
        /*font: 700 30px/50px '';*/
        font-size: 30px;
        line-height: 50px;
        text-align: 700;
        text-align: left;
        margin: 60px 0 0 120px;
        color: #828282;
        
        opacity: 0;/**/
    }
    #sec3_bottom_text_wrap>h5{
        /*font: 900 35px/40px '';*/
        font-size: 35px;
        line-height: 40px;
        text-align: 900;
        text-align: left;
        margin: 30px 0 0 120px;
        color: #191919;
        
        opacity: 0;/**/
    }
    #sec3_bottom_btn{
        width: 200px;
        height: 50px;
        border: 1px solid #707070;
        margin-left: 120px;
        margin-top: 40px;
        
        opacity: 0;/**/
    }
    
    /**************/
    
    
    
    /*section_3 끝*/
    
    /*section_4 시작*/
    #section_4{
        height: 550px;
        /*background-color: coral;*/
        background: url(../img/sec4.png) no-repeat center;
        background-size: cover;
        
        overflow: hidden;
    }
    #sec4_center_text{
        width: 100%;
        height: auto;
        /*background-color: cadetblue;*/
        margin: 60px auto;
        
    }
    
    #sec4_btn_wrap{
        width: 480px;
        height: 40px;
        /*background-color: darkgreen;*/
        margin: 0 auto 100px auto;
    }
    .sec4_btn{
        width: 150px;
        height: 40px;
        /*background-color: cornsilk;*/
        border: 1px solid #959595;
        box-sizing: border-box;
        float: left;
        margin-right: 15px;
        
    }
    #sec4_btn3{
        margin-right: 0;
    }
    
    
    /*이미지,텍스트 추가*/
    
    #sec4_center_text>p{
        font-size: 23px;
        text-align: center;
        color: #b9b9b9;
    }
    .sec4_btn>p{
        /*font: 15px/40px '';*/
        font-size: 15px;
        line-height: 40px;
        text-align: center;
        color: #dadada;
    }
    
    
    /**/
    .sec4_btn:hover{
        background-color: rgba(255,255,255,0.8);
        transition-duration: 0.5s;
        border: 1px solid rgba(255,255,255,0.8);
    }
    .sec4_btn:hover p{
        color: #414141;
        transition-duration: 0.5s;
    }
    /**/
    
    
    /*section_4 끝*/
    
    
    
    /*footer 시작*/
    
    footer{
        height: auto;
        background-color: #1b1b1b;
        
        overflow: hidden;
    }
    
    #copy_right{
        width: 100%;
        height: auto;
        /*background-color: firebrick;*/
        margin: 50px auto;
    }
    
    /*이미지,텍스트 추가*/
    
    #copy_right{
        /*font: 100 15px '';*/
        font-size: 15px;
        text-align: 100;
        text-align: center;
        color: #a4a4a4;
    }
    #copy_right>span{
        font-weight: 500;
        color: #a4a4a4;
    }
    /**************/
    
    /*footer 끝*/
    
    
    
    
    
    
}/*end*/